[Unit]
Description=Syncs with preston.guoda.bio

[Service]
Type=simple
User=preston
WorkingDirectory=/var/lib/preston-mirror/
ExecStart=/var/lib/preston-mirror/sync-all.sh /home/preston/logs
Restart=on-failure
RestartSec=5s

